n8n-workflows/ollama-smoke-test.json
{
  "name": "Ollama - Minimal LLM Smoke Test",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "tinyllama"
            },
            {
              "name": "prompt",
              "value": "Gib in einem Satz zurueck, dass Ollama im Docker-Netzwerk erreichbar ist."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const src = item.json || {};\n  const body = src.body && typeof src.body === 'object' ? src.body : {};\n\n  return {\n    json: {\n      model: src.model ?? body.model ?? null,\n      response: src.response ?? body.response ?? null,\n      done: src.done ?? body.done ?? null,\n      total_duration: src.total_duration ?? body.total_duration ?? null\n    }\n  };\n});"
      },
      "id": "3",
      "name": "Select Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Select Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "1"
}
