n8n-workflows/teamcity-projects-fetch.json
{
  "name": "TeamCity API - Projekte abrufen",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://teamcity-server:8111/app/rest/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __TEAMCITY_TOKEN__"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "TeamCity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const projects = Array.isArray($json.project) ? $json.project : [];\\n\\nreturn projects.map((p) => ({\\n  json: {\\n    id: p.id,\\n    name: p.name,\\n    archived: p.archived ?? false,\\n    webUrl: p.webUrl ?? null\\n  }\\n}));"
      },
      "id": "3",
      "name": "Format Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "TeamCity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TeamCity API": {
      "main": [
        [
          {
            "node": "Format Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "1"
}
