n8n-workflows/Agent/AI_Agent.json
{
  "name": "AI_Agent",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const src = $input.first()?.json ?? {};\nlet output = src.output ?? src.text ?? src.response ?? src.answer ?? '';\n\nif (typeof output !== 'string') {\n  try {\n    output = JSON.stringify(output, null, 2);\n  } catch (_) {\n    output = String(output);\n  }\n}\n\nreturn [{\n  json: {\n    output: output,\n    text: output\n  }\n}];"
      },
      "id": "d54b18ee-eded-4811-8702-4655f327564c",
      "name": "Select Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15648,
        2368
      ]
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        15056,
        2608
      ],
      "id": "fcb6351e-4c7d-4330-824e-d89009118dee",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "WSOWGsUt5EbkmSg9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant for TeamCity. If the user asks for project structure, project overview, build configurations, folders, modules, or similar (German or English), always call the workflow tool first and then answer with a concise summary. If the user asks for failed tests of a specific build type, call the failed-tests workflow tool with strict tool arguments. If the user asks for passed tests of a specific build type, call the passed-tests workflow tool with strict tool arguments. For both test tools, the arguments must be valid JSON with exactly one field: {\"input\":\"<buildTypeId>\"}. Never add any other field. Never send maxTests. Never send trailing text, markdown, or code fences in tool arguments. If buildTypeId is missing or ambiguous, ask a short clarification question first."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        15216,
        2368
      ],
      "id": "2d6e531b-3759-49f3-a01e-57ea43e9128e",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1c638502-f6d0-4483-beb3-e85732fce0ec",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        14896,
        2416
      ],
      "webhookId": "ae71b698-e88d-47f3-b540-c4273783bf02"
    },
    {
      "parameters": {
        "description": "Use this tool whenever the user asks about the TeamCity project structure, projects, build configurations, folders or modules.\nThis tool retrieves the latest project structure from TeamCity and returns it. No Input data necessary!",
        "workflowId": {
          "__rl": true,
          "value": "EW1BbcUZQjh6keYv",
          "mode": "list",
          "cachedResultUrl": "/workflow/EW1BbcUZQjh6keYv",
          "cachedResultName": "Get_Project_Structure"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "=project_structure"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        15424,
        2592
      ],
      "id": "29baf026-cb0a-4657-8d4a-c3083e04eaa7",
      "name": "Call 'Get_Project_Structure'"
    },
    {
      "parameters": {
        "description": "Use this tool whenever the user asks for failed tests for a specific TeamCity build type.\n\nInput contract:\n- input: required plain string containing only the buildTypeId (example: demo_alpha_api)\n\nSTRICT ARGUMENT FORMAT:\n- Tool arguments must be exactly: {\"input\":\"demo_alpha_api\"}\n- Do not include maxTests.\n- Do not include additional keys.\n- Do not include markdown or explanatory text in arguments.",
        "workflowId": {
          "__rl": true,
          "value": "4hAwE6NnGtO89Q8K",
          "mode": "list",
          "cachedResultUrl": "/workflow/4hAwE6NnGtO89Q8K",
          "cachedResultName": "Get_Failed_Tests_By_BuildType"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $fromAI('input', 'TeamCity buildTypeId as plain string, e.g. demo_alpha_api') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        15808,
        2592
      ],
      "id": "d4f25067-feb0-4cb8-af42-bb8030b223ea",
      "name": "Call 'Get_Failed_Tests_By_BuildType'"
    },
    {
      "parameters": {
        "description": "Use this tool whenever the user asks for passed tests for a specific TeamCity build type.\n\nInput contract:\n- input: required plain string containing only the buildTypeId (example: demo_alpha_api)\n\nSTRICT ARGUMENT FORMAT:\n- Tool arguments must be exactly: {\"input\":\"demo_alpha_api\"}\n- Do not include maxTests.\n- Do not include additional keys.\n- Do not include markdown or explanatory text in arguments.",
        "workflowId": {
          "__rl": true,
          "value": "cRg00cvYHSnAMnOJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/cRg00cvYHSnAMnOJ",
          "cachedResultName": "Get_Passed_Tests_By_BuildType"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $fromAI('input', 'TeamCity buildTypeId as plain string, e.g. demo_alpha_api') }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        16000,
        2592
      ],
      "id": "5b7668c0-087a-4b33-834b-ad7a3d8e0081",
      "name": "Call 'Get_Passed_Tests_By_BuildType'"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool whenever the user asks for a HTTP test.",
        "url": "=https://jsonplaceholder.typicode.com/todos/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        15616,
        2592
      ],
      "id": "ff1f7e1c-30bc-454f-b41b-2ffac00ed204",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        15232,
        2608
      ],
      "id": "7da4c43d-1dde-4ea6-9127-81b640be033f",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Select Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get_Project_Structure'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get_Failed_Tests_By_BuildType'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get_Passed_Tests_By_BuildType'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c839ffbd-5835-4131-97f3-c36e82e78b9a",
  "meta": {
    "instanceId": "e49844d4d683cac13f54084fa5356b54658c12021c031a45c13b3f26e54bf57a"
  },
  "nodeGroups": [],
  "id": "gfMLTXA2ZfUhJCqJ",
  "tags": [
    {
      "updatedAt": "2026-06-25T07:00:37.195Z",
      "createdAt": "2026-06-25T07:00:37.195Z",
      "id": "FayBN1pexKl90DVB",
      "name": "TeamCity-AI"
    }
  ]
}