n8n-workflows/Agent/Get_Project_Structure.json
{
  "name": "Get_Project_Structure",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "143d6543-e4bb-41aa-920e-f4dbd6f86313",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$env.TEAMCITY_BASE_URL_N8N) throw new Error('Missing env TEAMCITY_BASE_URL_N8N');\nif (!$env.TEAMCITY_TOKEN) throw new Error('Missing env TEAMCITY_TOKEN');\nif (!$env.TEAMCITY_AI_STRUCTURE_PATH) throw new Error('Missing env TEAMCITY_AI_STRUCTURE_PATH');\n\nreturn [{\n  json: {\n    teamcity: {\n      baseUrl: $env.TEAMCITY_BASE_URL_N8N,\n      token: $env.TEAMCITY_TOKEN\n    },\n    storage: {\n      structurePath: $env.TEAMCITY_AI_STRUCTURE_PATH\n    },\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "73d0c977-3954-4b04-be0f-1cc9ba8f464b",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.teamcity.baseUrl + '/app/rest/buildTypes' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "buildType(id,name,projectName,projectId,webUrl,paused)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.teamcity.token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "8d7ead42-c7a7-453a-9f69-2743d536e675",
      "name": "TeamCity BuildTypes API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $items('Config')[0].json;\nconst src = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst buildTypes = Array.isArray(src.buildType) ? src.buildType : [];\n\nconst projects = {};\n\nfor (const bt of buildTypes) {\n  const projectName = bt.projectName || 'Unbekanntes Projekt';\n\n  if (!projects[projectName]) {\n    projects[projectName] = {\n      projectName,\n      projectId: bt.projectId || null,\n      buildTypes: [],\n      activeBuildTypes: 0,\n      pausedBuildTypes: 0\n    };\n  }\n\n  const item = {\n    buildTypeId: bt.id || null,\n    buildTypeName: bt.name || null,\n    projectName,\n    projectId: bt.projectId || null,\n    paused: !!bt.paused,\n    webUrl: bt.webUrl || null,\n    lastSeenAt: new Date().toISOString()\n  };\n\n  projects[projectName].buildTypes.push(item);\n\n  if (item.paused) {\n    projects[projectName].pausedBuildTypes++;\n  } else {\n    projects[projectName].activeBuildTypes++;\n  }\n}\n\nconst projectList = Object.values(projects)\n  .sort((a, b) => a.projectName.localeCompare(b.projectName));\n\nconst overviewText = projectList.map(p => {\n  const lines = [];\n  lines.push(`Projekt: ${p.projectName}`);\n  lines.push(`  BuildTypes aktiv: ${p.activeBuildTypes}`);\n  lines.push(`  BuildTypes pausiert: ${p.pausedBuildTypes}`);\n\n  for (const bt of p.buildTypes) {\n    lines.push(`  - ${bt.buildTypeName} [${bt.buildTypeId}]${bt.paused ? ' (pausiert)' : ''}`);\n  }\n\n  return lines.join('\\n');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    snapshotType: 'teamcity_structure',\n    createdAt: new Date().toISOString(),\n    totalProjects: projectList.length,\n    totalBuildTypes: buildTypes.length,\n    projects: projectList,\n    overviewText,\n    note: 'Projekt -> BuildType. Einzelne Tests kommen erst über Builds und testOccurrences.',\n    teamcityBaseUrl: ctx.teamcity.baseUrl,\n    storagePath: ctx.storage.structurePath\n  }\n}];"
      },
      "id": "5da845a8-88bf-4b33-8264-50254cc0832c",
      "name": "Create Structure Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const snapshot = $json;\nconst jsonText = JSON.stringify(snapshot, null, 2);\n\nreturn [{\n  json: {\n    filePath: snapshot.storagePath || '/data/n8n-exports/teamcity/structure.json',\n    snapshotType: snapshot.snapshotType,\n    createdAt: snapshot.createdAt,\n    totalProjects: snapshot.totalProjects,\n    totalBuildTypes: snapshot.totalBuildTypes,\n    overviewText: snapshot.overviewText\n  },\n  binary: {\n    data: {\n      data: Buffer.from(jsonText, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'structure.json'\n    }\n  }\n}];"
      },
      "id": "9d06480f-5601-4151-9dcc-c7b25f09e929",
      "name": "Prepare Structure File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.filePath }}",
        "options": {}
      },
      "id": "5266ded5-0f67-4468-9238-f27e33c6197d",
      "name": "Write Structure File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const prepared = $items('Prepare Structure File')[0].json;\n\nreturn [{\n  json: {\n    ok: true,\n    message: 'TeamCity-Struktur wurde gespeichert.',\n    filePath: prepared.filePath,\n    totalProjects: prepared.totalProjects,\n    totalBuildTypes: prepared.totalBuildTypes,\n    overviewText: prepared.overviewText\n  }\n}];"
      },
      "id": "ebd57dbb-56af-4a7d-b1c9-94d82db012a0",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "TeamCity BuildTypes API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TeamCity BuildTypes API": {
      "main": [
        [
          {
            "node": "Create Structure Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Structure Snapshot": {
      "main": [
        [
          {
            "node": "Prepare Structure File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Structure File": {
      "main": [
        [
          {
            "node": "Write Structure File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Structure File": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cfb126f8-d471-49d0-886b-b741eb259343",
  "meta": {
    "instanceId": "e49844d4d683cac13f54084fa5356b54658c12021c031a45c13b3f26e54bf57a"
  },
  "nodeGroups": [],
  "id": "EW1BbcUZQjh6keYv",
  "tags": [
    {
      "updatedAt": "2026-06-25T07:00:37.195Z",
      "createdAt": "2026-06-25T07:00:37.195Z",
      "id": "FayBN1pexKl90DVB",
      "name": "TeamCity-AI"
    }
  ]
}